doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" type="text/css" href='./css/bootstrap.min.css')
        link(rel="stylesheet", href="./css/myStyle.css")

        title Document
    body

        .container.bg-primary.mt-5
            p DADA

        //- .container
        //-     each com in comments
        //-         .mb-5.border.border-dark.px-4
        //-             p #{com.uuid}
        //-             p #{com.avatar}
        //-             p #{com.message}
        //-             p #{com.author}
        //-             p #{com.createdAt}
        //-             p #{com.editedAt}